*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary: #141414;
    --bg-secondary: #1A1A1A;
    --border: #262626;
    --text: #9999;
    --heading: #FFF;
    --main: #703BF7;
}

html, body {
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    font-family: 'Urbanist', sans-serif;
    color: var(--text);
    background: var(--bg-primary);
}

a {
    color: inherit;
    text-decoration: none;
}


.container {
    width: 90%;
    margin: 0 auto;
}

.topbar {
    background: var(--bg-secondary);
    width: 100%;
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar-brand > img {
    width: 28px;
}

.navbar-brand > span {
    color: var(--heading);
    font-weight: 700;
    font-size: 1.25rem;
}

.nav-item, .nav-item + a {
    display: none;
}

.nav-link{
    color: var(--heading);
    text-align: center;
    display: block;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 0.875rem;
    padding: 12px 20px;
}

.nav-link:hover, .active {
    background: var(--bg-primary);
    border: 1px solid var(--border);
}

/*Home */

#home {
    padding: 40px 0;
}
.building {
    display: block;
    width: 100%;
    height: 302px;
    border: 1px solid var(--border);
    border-radius: 12px;
}

#home h1 {
    margin-top: 60px;
    color: var(--heading);
    font-size: 2rem;
    font-weight: 500;
    line-height: 120%;

}

#home p {
    margin-top: 16px;
}

.btn-group, .info-group {
    margin: 40px 0;
}

.btn {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 14px;
    background: var(--bg-primary);
    color: var(--heading);
    text-align: center;
    border: 1px solid var(--border);
    border-radius: 8px;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--main);
}
.info-group {
    display: grid; 
    grid-template-areas: "a b" "c c";
    gap: 6px;
}

.info {
    background: var(--bg-secondary);
    padding: 16px;
    text-align: center;
    border: 1px solid var(--border);
    border-radius: 8px;
}

.info-grid-3 {
    grid-area: c;
}
.info-title {
    color: var(--heading);
    font-size: 1.5rem;
    font-weight: 700;
}

.banner {
    border: 1px solid var(--border);
    border-radius: 12px;
    box-shadow: 2px 2px var(--border), -2px -2px var(--border);
    padding: 10px;
}

.info-banner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.info-banner > .info {
    width: calc(50% - 5px);
    padding: 20px 14px;
    cursor: pointer;
}

.info-banner img {
    width: 48px;
}

.info-banner .info-text {
    color: var(--heading);
    font-weight: 500;
}


/* SECTION */

section {
    width: 90%;
    margin: 0 auto;
}

.section-title {
    font-size: 2rem;
    color: var(--heading);
    font-weight: 500;  
    margin-bottom: 6px;
}

/* CARD */
.card-btn-group {
    margin: 20px 0;
}
.card {
    display: block;
    margin: 30px 0;
    border: 1px solid var(--border);
    border-radius: 12px;
    padding: 24px;
}

.card-img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.card-title {
    font-size: 1.28rem;
    font-weight: 500;
    color: var(--heading);
    margin: 16px 0 5px;
}

.card-text > a {
    color: var(--heading);
    border-bottom: 1px solid var(--text);
}

.card-btn {
    display: inline-block;
    background: var(--bg-secondary);
    color: var(--heading);
    border: 1px solid var(--border);
    border-radius: 28px;
    margin-top: 6px;
    padding: 8px 12px;
}

.card-btn > span::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;   
}

.card-btn > .bedroom::before {
    background: url("../assets/icon/bedroom.svg");
}

.card-btn > .bathroom::before {
    background: url("../assets/icon/bathroom.svg");
}

.card-btn > .villa::before {
    background: url("../assets/icon/villa.svg");
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.card-value {
    font-size: 1.28rem;
    font-weight: 500;
    color: var(--heading);
}

.card-client {
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.client-name {
    font-size: 1.15rem;
    color: var(--heading);
}


/* LAPTOP */

@media screen and (min-width: 992px) {
    html, body {
        font-size: 16px;
    }

    .topbar {
        padding: 21.5px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-brand {
        gap: 7px;
    }
    
    .navbar-brand > img {
        width: 34px;
    }

    .nav-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-item + a {
        display: block;
    }

    .nav-item-toggle {
        display: none;
    }

    .container {
        width: 100%;
    }
    #home {
        padding: 0;
    }
    .home {
        display: grid;
        grid-template-areas: "a b" "c c";
    }
    .background-img {
        width: 512px;
    }
    .intro {
        grid-area: a;
        padding: 30px 15px 30px 25px;
    }

    .banner {
        grid-area: c;
    }
    
    .building {
        border: none;
        border-radius: 0;
        height: 100%;
        width: 100%;
    }

    .btn {
        display: inline-block;
        width: auto;
        padding: 14px 20px;
    }

    /* SECTION */

    section {
        width: 95%;
        padding-top: 50px;
    }

    .section-title {
        margin-bottom: 10px;
    }

    /* CARD */

    .section-card {
        display: flex;
        gap: 5px;
    }

    #journey {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #journey > div {
        max-width: 70%;
    }

    
}

/* DESKTOP */
@media screen and (min-width: 1140px) {
    html, body {
        font-size: 18px;
    }

    .topbar {
        padding: 20px 162px;
    }

    .background-img {
        width: 630px;
    }

    .intro {
        grid-area: a;
        padding: 30px 40px 30px 45px;
    }

    .info-group {
        grid-template-areas: "a b c";
    }

    .info {
        text-align: left;
        padding: 14px 20px;
    }

    .banner {
        border-radius: 0;
    }

    .info-banner {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
    }
    
    .info-banner > .info {
        text-align: center;
        width: calc(25% - 5px);
        padding: 20px 14px;
    }
    
    .info-banner img {
        width: 48px;
    }

    /* SECTION */

    section {
        padding-top: 50px;
    }

    .section-title {
        margin-bottom: 14px;
    }

    /* CARD */

    .section-card {
        margin-top: 20px;

    }

}

/* LARGE SCREEN */
@media screen and (min-width: 1440px) {
    

    .background-img {
        width: 720px;
    }


    /* CARD */

    .section-card {
        gap: 15px;
    }

}

