*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary: #141414;
    --bg-secondary: #1A1A1A;
    --border: #262626;
    --text: #9999;
    --heading: #FFF;
    --main: #703BF7;
}

html, body {
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    font-family: 'Urbanist', sans-serif;
    color: var(--text);
    background: var(--bg-primary);
}

a {
    color: inherit;
    text-decoration: none;
}


.container {
    width: 90%;
    margin: 0 auto;
}

.topbar {
    background: var(--bg-secondary);
    width: 100%;
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar-brand > img {
    width: 28px;
}

.navbar-brand > span {
    color: var(--heading);
    font-weight: 700;
    font-size: 1.25rem;
}

.nav-item, .nav-item + a {
    display: none;
}

.nav-link{
    color: var(--heading);
    text-align: center;
    display: block;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 0.875rem;
    padding: 12px 20px;
}

.nav-link:hover, .active {
    background: var(--bg-primary);
    border: 1px solid var(--border);
}

/*Home */

#home {
    padding: 40px 0;
}
.building {
    display: block;
    width: 100%;
    height: 302px;
    border: 1px solid var(--border);
    border-radius: 12px;
}

#home h1 {
    margin-top: 60px;
    color: var(--heading);
    font-size: 2rem;
    font-weight: 500;
    line-height: 120%;

}

#home p {
    margin-top: 16px;
}

.btn-group, .card-group {
    margin: 40px 0;
}

.btn {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 14px;
    background: var(--bg-primary);
    color: var(--heading);
    text-align: center;
    border: 1px solid var(--border);
    border-radius: 8px;
}

.btn-primary {
    background: var(--main);
}
.card-group {
    display: grid; 
    grid-template-areas: "a b" "c c";
    gap: 6px;
}

.card {
    background: var(--bg-secondary);
    padding: 16px;
    text-align: center;
    border: 1px solid var(--border);
    border-radius: 8px;
}

.card-grid-3 {
    grid-area: c;
}
.card-title {
    color: var(--heading);
    font-size: 1.5rem;
    font-weight: 700;
}

.banner {
    border: 1px solid var(--border);
    border-radius: 12px;
    box-shadow: 2px 2px var(--border), -2px -2px var(--border);
    padding: 10px;
}

.card-banner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-banner > .card {
    width: calc(50% - 5px);
    padding: 20px 14px;
}

.card-banner img {
    width: 48px;
}

.card-banner .card-text {
    color: var(--heading);
    font-weight: 500;
}
/* LAPTOP */

@media screen and (min-width: 1024px) {
    html, body {
        font-size: 16px;
    }

    .topbar {
        padding: 21.5px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-brand {
        gap: 7px;
    }
    
    .navbar-brand > img {
        width: 34px;
    }

    .nav-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-item + a {
        display: block;
    }

    .nav-item-toggle {
        display: none;
    }

    .container {
        width: 100%;
    }
    #home {
        padding: 0;
    }
    .home {
        display: grid;
        grid-template-areas: "a b" "c c";
    }
    .background-img {
        width: 512px;
    }
    .intro {
        grid-area: a;
        padding: 30px 15px 30px 25px;
    }

    .banner {
        grid-area: c;
    }
    
    .building {
        border: none;
        border-radius: 0;
        height: 100%;
        width: 100%;
    }

    .btn {
        display: inline-block;
        width: auto;
        padding: 14px 20px;
    }

    .card-group {
        grid-template-areas: "a b c";
    }

    .card {
        text-align: left;
        padding: 14px 20px;
        width: 192px;
    }

    .card-banner {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
    }
    
    .card-banner > .card {
        text-align: center;
        width: calc(25% - 5px);
        padding: 20px 14px;
    }
    
    .card-banner img {
        width: 48px;
    }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
    html, body {
        font-size: 18px;
    }

    .topbar {
        padding: 20px 162px;
    }

}

