@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #703bf7;
  --bg-primary: #141414;
  --text: #999999;
  --heading: #ffffff;
  --dark: ;
  --border: #262626;
  --grey: #1a1a1a;
}

body {
  font-family: "Urbasnist", sans-serif;
  font-size: 14px;
  line-height: 150%;
  background: var(--bg-primary);
  color: var(--text);
  font-weight: 500;
}

main {
  width: 100%;
  padding: 40px 16px 40px 16px;
  margin-top: 70.18px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  font-size: 2em;
  line-height: 120%;
  color: var(--heading);
  font-weight: 600;
}

h2 {
  line-height: 150%;
}

h3 {
  font-size: 1.425em;
  color: var(--heading);
  line-height: 150%;
}

.btn {
  font-size: 1em;
  display: block;
  padding: 14px;
  background: var(--primary);
  color: var(--heading);
  text-align: center;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.jumbotron {
  display: block;
  text-align: center;
  background: var(--grey);
  border: 1px solid var(--border);
  border-radius: 8px;
}

section > .section-title {
  margin-top: 50px;
}

.section-title::before {
  content: "";
  display: block;
  width: 45.6px;
  height: 20px;
  margin-bottom: 6px;
  background: url("../assets/icon/star-separator.svg");
  background-size: cover;
}

.section-description {
  margin-top: 6px;
}

.section-card-group {
  margin-top: 10px;
}

.card {
  margin-top: 30px;
  display: block;
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 20px;
  padding: 24px;
}

.card:hover {
  box-shadow: 0 0 20px var(--border);
}

.card-img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.card-title {
  margin-top: 16px;
}

.card-text > a {
  color: var(--heading);
  text-decoration: underline;
}

.card-properties-type {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 20px;
}

.card-properties-type > div {
  padding: 6px 14px;
  border-radius: 28px;
  color: var(--heading);
}

.room::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.room.bedroom::before {
  background: url(../assets/icon/bedroom.svg) no-repeat center;
}

.room.bathroom::before {
  background: url(../assets/icon/bathroom.svg) no-repeat center;
}

.room.villa::before {
  background: url(../assets/icon/villa.svg) no-repeat center;
}

.card-link {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  display: flex;
  flex-direction: column;
}

.card-price .price {
  color: var(--heading);
  font-size: 1.285em;
  line-height: 150%;
  font-weight: 600;
}

/* * * * LAPTOP * * * */

@media screen and (min-width: 1024px) {
  body {
    font-size: 16px;
  }

  main {
    margin-top: 0;
    padding: 0;
    padding-bottom: 40px;
  }

  h2 {
    line-height: 150%;
  }


  .btn {
    font-size: 0.875em;
    padding: 14px 20px;
    border-radius: 8px;
  }

  section:not(.hero-section) {
    padding: 0 50px;
  }

  .section-card-group {
    display: flex;
    font-size: 14px;
    gap: 10px;
  }

  .card-properties-type > div {
    padding: 6px 12px;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 2.875em;
  }

  section:not(.hero-section) {
    padding: 0 80px;
  }

  .section-card-group {
    font-size: 16px;
    gap: 30px;
  }

  .card-properties-type > div {
    padding: 6px 14px;
  }
}

/* * * * DESKTOP * * * */
@media screen and (min-width: 1920px) {
  body {
    font-size: 18px;
  }

  section:not(.hero-section) {
    padding: 0 162px;
  }

  .section-card-group {
    font-size: 18px;
  }

  .card-properties-type > div {
    padding: 8px 14px;
  }
}
