@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #703BF7;
    --bg-primary: #141414;
    --text: #999999;
    --heading: #FFFFFF;
    --dark: ;
    --border: #262626; 
    --grey: #1A1A1A;
}

body {
    font-family: 'Urbasnist', sans-serif;
    font-size: 14px;
    line-height: 150%;
    background: var(--bg-primary);
    color: var(--text);
    font-weight: 500;
}

main {
    width: 100%;
    padding: 40px 16px 0;
    margin-top: 70.18px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

h1, h2 {
    font-size: 2em;
    line-height: 120%;
    color: var(--heading);
    font-weight: 600;
}

h2 {
    line-height: 150%;
}

.btn {
    font-size: 1em;
    display: block;
    padding: 14px;
    background: var(--primary);
    color: var(--heading);
    text-align: center;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
}

.jumbotron {
    display: block;
    text-align: center;
    background: var(--grey);
    border: 1px solid var(--border);
    border-radius: 8px;
}

        /* * * * LAPTOP * * * */

@media screen and (min-width:1024px) {
    body {
        font-size: 16px;
    }

    main {
        margin-top: 0;
        padding: 0;
    }
    
    h2 {
        line-height: 150%;
    }
    
    .btn {
        font-size: 0.875em;
        padding: 14px 20px;
        border-radius: 8px;
    }
    
}

@media screen and (min-width:1040px) {
    h1 {
        font-size: 2.875em;
    }
}


        /* * * * DESKTOP * * * */
@media screen and (min-width:1920px) {
    body {
        font-size: 18px;
    }
}